<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name="weakPlan.WeeklyPlanMealDetails.view.WeeklyPlanMealDetailsActivity"
            android:exported="false" />

        <receiver
            android:name="checkconnection.ConnectivityReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="checkconnection.CennectionLostActivity"
            android:exported="false" /> <!-- Google Play Services version metadata -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="search.SpecificArea.view.SpecificAreaMeal"
            android:exported="false" />
        <activity
            android:name="search.SpecificCategory.view.SpecificCategoryMeals"
            android:exported="false" />
        <activity
            android:name="search.SpecificIngredient.view.SpecificIngredientMeals"
            android:exported="false" />
        <activity
            android:name="calendar.CalendarActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="mealDetails.view.ViewDetailsActivityMy"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="search.allIngrediant.view.AllIngredients"
            android:exported="false" />
        <activity
            android:name="search.allCategory.view.AllCategory"
            android:exported="false" />
        <activity
            android:name="search.allCountry.view.AllCountry"
            android:exported="false" />
        <activity
            android:name="Login.view.Login"
            android:exported="false" />
        <activity
            android:name="SignUp.view.SignUp"
            android:exported="false" />
        <activity
            android:name=".LoginAndSignUpScreen"
            android:exported="false" />
        <activity
            android:name="splash.SplashScreen"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>